body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f7fb;
}

.layout {
  display: flex;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 30px;
}

/* Responsive */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}